@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "/sections/about/about.css"; */

/* VARIABLES */

:root {
  --primary-accent-green-001: #00bfb2;
  --primary-accent-green-002: #028a80;
  --primary-accent-green-003: #003b49;
  --secondary-neutral-black-001: #000000;
  --secondary-neutral-grey-001: #181818;
  --secondary-neutral-grey-002: #414141;
  --secondary-neutral-white-001: #f9f9f9;
  --secondary-neutral-white-002: #ffffff;
  --bg-opacity: hsl(0, 0%, 20%);
}

/* ----------------------------------- *\
* BASE 
/* ----------------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  /* Extensions: Tailwind CSS IntelliSense */
  background-color: var(--secondary-neutral-grey-001);
  @apply m-auto text-zinc-50;
}

header {
  background-color: var(--bg-opacity);
  @apply text-zinc-950 h-20;
}

.header-section {
  @apply mx-24 my-auto;
}

/* ----------------------------------- *\
* COMPONENTS 
/* ----------------------------------- */

/* Menu Btn */

.menu-btn {
  @apply w-10 h-10 grid place-items-center;
}

/* Navbar */

.navbar {
  /* @apply absolute top-full mt-2 right-0 min-w-40 p-2 bg-zinc-50/10 rounded-2xl ring-inset ring-1 ring-zinc-50/5 scale-90 isolate blur-sm opacity-0 invisible transition-[opacity,transform,filter]; */
}

.navbar a {
  color: #fff;
  @apply ml-4;
}

.navbar.active {
  @apply opacity-100 scale-100;
}

/* Section title */
.heading-h2 {
  border-color: rgb(0 59 73);
  @apply text-center py-14;
}

/* Text */
.display-text {
}

/* Header */

.special-font {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0px 15px 20px #00bfb2;
  /* Body Bigger */
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1rem;
  font-size: clamp(2.125rem, -0.0231rem + 10.7407vw, 9.375rem);
  @apply font-special text-left;
  opacity: 0.7;
}

.first-name {
  color: var(--primary-accent-green-002);
}

.last-name {
  color: var(--primary-accent-green-003);
}

.title-heading.hero-head {
  font-size: clamp(24px, 4vw, 2.441rem);
  @apply font-bold;
}

.btn-green {
  background-color: var(--primary-accent-green-003);
  font-size: clamp(1.125rem, 1.088rem + 0.1852vw, 1.25rem);
  @apply p-3 mt-5 rounded-md font-bold;
}

.btn-green:hover {
  background-color: var(--primary-accent-green-001);
  color: var(--primary-accent-green-003);
}

/* Specialties */
.special-skills {
  background-color: var(--primary-accent-green-003);
  @apply text-center rounded-xl;
}

.special-img {
  margin-top: -30px;
  margin-bottom: 30px;
}

.special-heading {
  margin-bottom: 30px;
}

/* FOOTER */

/* Contact */
.content-stretch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.contact-card {
  display: flex;
  width: 320px;
  padding: 128px 0px 140px 0px;
  flex-direction: column;
  align-items: center;

  background: var(--bg-opacity);
  /* border-color: var(--primary-accent-green-001); */
  border-top: var(--primary-accent-green-003) 1px solid;
  border-bottom: var(--primary-accent-green-003) 10px solid;
  border-left: var(--primary-accent-green-003) 1px solid;
  border-right: var(--primary-accent-green-003) 1px solid;
  @apply pt-24 pb-24 rounded-2xl;
}

.contact-card img {
  max-width: 80px;
  display: inline;
  @apply pb-5;
}

.contact-section .section-title-h2 {
  text-align: center;
  margin: 24px 0;
}

footer .bg-white {
  background: var(--Neutral-03, #fff);
}

.footer-link-section {
  padding: 20px 0;
  margin-top: 50px;
  color: var(--secondary-neutral-grey-002);
}

.section-content {
  @apply mx-24 my-auto;
}

.hero-section {
  background-color: var(--secondary-neutral-black-001);
  border-bottom: 5px solid var(--primary-accent-green-002);
  @apply py-20;

  &.inner {
    @apply py-5;

    div {
      align-items: center;
    }
  }
}

.skill-package-section {
  @apply my-24;

  .section-title-h2 {
    text-align: center;
  }
}

.specialties-section {
  height: auto;
  padding-top: 5rem;
  @apply grid grid-rows-1 grid-flow-col gap-10;
}

.card-title-h3 {
  /* font-family: Manrope; */
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  letter-spacing: 6.72px;
  margin-bottom: 14px;
}
.specialties-product {
  width: 100%;
  /* background-color: var(--secondary-neutral-black-001); */
  border-radius: 24px;
  color: #000;
  /* height: 590px; */
}

.productDes-img {
  background-image: url("https://luiscbaptistajr.github.io/luisbaptista/images/side-view-smiley-man-planning-web-design.jpg");
  background-size: cover;
  height: 370px;
  max-width: 100%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  position: relative;
  top: 25px;
  @apply bg-no-repeat bg-center bg-cover;
}

.productDev-img {
  background-image: url("https://luiscbaptistajr.github.io/luisbaptista/images/programming-background-with-person-working-with-codes-computer.jpg");
  background-size: cover;
  max-width: 100%;
  /* width: 100%; */
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  @apply bg-no-repeat bg-center bg-cover;
  position: relative;
  right: -23px;
  z-index: 0;
}

.productMgt-img {
  background-image: url("https://luiscbaptistajr.github.io/luisbaptista/images/male-female-colleagues-standing-by-window-looking-business-graphs-it.jpg");
  background-size: cover;
  max-width: 100%;
  width: 100%;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  position: relative;
  left: -25px;
  @apply bg-no-repeat bg-center bg-cover;
}

.specialties-box {
  background-color: var(--secondary-neutral-white-001);
  border-radius: 24px;
  color: #000;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
  @apply p-5;
}

.parallax-container {
  background-image: url("https://luiscbaptistajr.github.io/luisbaptista/images/parallax-img.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  @apply mb-24;
}

.intro-container {
  display: flex;
  width: 925px;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;

  border-radius: 24px;
  background: var(--Neutral-07, rgba(43, 43, 43, 0.5));
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin-top: 64px;
  align-self: stretch;
}

.list-blocks {
  display: flex;
  gap: 10px;
}

.list-blocks a {
  padding: 12px 16px;
  justify-content: center;
  align-items: center;

  border-radius: 7.29px;
  background: var(--Primary-03, #003b49);
}

.list-blocks a:hover {
  border-radius: 7.29px;
  background: var(--Primary-02, #028a80);
}

.profile {
  width: 70%;
  max-width: 100%;
  border-radius: 196.819px;
}

.section-title-h2 {
  color: var(--Neutral-03, #fff);
  text-align: left;
  text-transform: uppercase;
  /* H2 */
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  letter-spacing: 6.72px;

  &.inner {
    @apply mt-24;
  }
}

.section-title-h3 {
  color: var(--Neutral-03, #fff);
  text-align: left;
  text-transform: uppercase;
  /* H2 */
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  letter-spacing: 6.72px;
}

.body-text-p1 {
  color: var(--Neutral-03, #fff);
  text-align: left;
  /* Body Regular */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 1.28px;
  margin-top: 1rem;
}

.body-text-p3 {
  color: var(--Neutral-03, #fff);
  text-align: left;
  /* Body Regular */
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 1.28px;
  margin-top: 1rem;
}

/* .education-section {
  @apply pb-24;
} */

.portfolio-works-section {
  display: flex;
  height: auto;
  padding: 50px 10px;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 34px;
  @apply py-24;
}

.card-container {
  /* display: flex; */
  padding: 24px 0px;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  gap: 24px;
}

.card-items {
  /* display: flex; */
  width: 100%;
  /* flex-direction: column; */
  /* align-items: center; */
  gap: 12px;
  border-radius: 12px;
  background: var(--Neutral-07, rgba(43, 43, 43, 0.5));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;

  .card-img {
    max-width: 100%;
    width: 100%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;

    &.not-ready {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }
}

.work-detail {
  padding: 24px;
  line-height: 1.5;
  @apply gap-4;
}

.specs {
  display: flex;
  margin: 0;
  margin-top: 10px;

  li {
    display: flex;
    margin-right: 8px;
    border-radius: 7.29px;
    background: var(--Neutral-05, #414141);
    height: 30px;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}

.item-list {
  display: flex;
  height: auto;
  padding-top: 50px;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  flex-shrink: 0;
  align-self: stretch;

  li {
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
  }
}

.annotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;

  color: #fff;
  text-align: center;
  /* material-theme/body/bold */
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}

.course-detail {
  display: flex;
  padding: 24px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  div p {
    color: var(--Neutral-03, #fff);
    /* Body Regular */
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 1.28px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 640px) {
  .parallax-container {
    display: none;
  }
  .section-content,
  .contact-section,
  .footer-link-section,
  .header-section {
    @apply mx-10;
  }

  .special-font {
    letter-spacing: inherit;
    margin: 1rem 0;
    padding-bottom: 24px;
  }

  /* .special-font {
    font-size: clamp(2.75rem, 3.5rem + -3.75vw, 2rem);
  } */

  .specialties-section {
    grid-auto-flow: row;
  }

  .specialties-box {
    width: 100%;
  }

  .display-text {
    @apply px-5;
  }

  .parallax-container {
    margin-bottom: 3rem;
  }

  footer .text-right {
    display: none;
  }

  .footer-link-section {
    justify-content: space-around;
  }

  .hero-section {
    @apply py-10;
  }

  .intro-container {
    width: 100%;
  }

  .grid {
    display: inherit;
  }

  .contact-card {
    width: 100%;
    margin-bottom: 2rem;
  }

  .specialties-product {
    display: grid;
  }

  .productDev-img {
    width: 100%;
    right: inherit;
    height: 290px;
    top: 25px;
    border-top-right-radius: 24px;
  }

  .productMgt-img {
    grid-row: 1;
    height: 290px;
    top: 25px;
    border-top-left-radius: 24px;
    left: inherit;
  }
}

/* HERO SECTION */

.hero-section .home-intro {
  @apply mx-10 my-auto;
}

@media (min-width: 1024px) {
  .hero-section .home-intro {
    @apply mx-24 my-auto;
  }
}
