@tailwind base;
@tailwind components;
@tailwind utilities;

/* VARIABLES */

:root {
  --primary-accent-green-001: #00bfb2;
  --primary-accent-green-002: #028a80;
  --primary-accent-green-003: #003b49;
  --secondary-neutral-black-001: #000000;
  --secondary-neutral-grey-001: #181818;
  --secondary-neutral-grey-002: #414141;
  --secondary-neutral-white-001: #f9f9f9;
  --secondary-neutral-white-002: #ffffff;
  --bg-opacity: hsl(0, 0%, 20%);
}

/* ----------------------------------- *\
* BASE 
/* ----------------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  width: 1400px;
  /* Extensions: Tailwind CSS IntelliSense */
  background-color: var(--secondary-neutral-grey-001);
  @apply m-auto text-zinc-50;
}

header {
  background-color: var(--secondary-neutral-grey-001);
  @apply text-zinc-950 h-12;
}

main {
  @apply py-24;
}

/* ----------------------------------- *\
* COMPONENTS 
/* ----------------------------------- */

/* Menu Btn */

.menu-btn {
  @apply w-10 h-10 grid place-items-center;
}

/* Navbar */

.navbar {
  /* @apply absolute top-full mt-2 right-0 min-w-40 p-2 bg-zinc-50/10 rounded-2xl ring-inset ring-1 ring-zinc-50/5 scale-90 isolate blur-sm opacity-0 invisible transition-[opacity,transform,filter]; */
}

.navbar a {
  color: #fff;
  @apply m-4;
}

.navbar.active {
  @apply opacity-100 scale-100;
}

/* Section title */
.heading-h2 {
  border-color: rgb(0 59 73);
  @apply text-center;
}

/* Text */
.display-text {
}

/* Header */

.special-font {
  /* font-family: var(--font-family-passionOne); */
  line-height: 0.75;
  font-size: clamp(24px, 24vw, 24rem);
  @apply font-special decoration-sky-500/30 text-center;
}

.first-name {
  color: var(--primary-accent-green-002);
}

.last-name {
  color: var(--primary-accent-green-003);
}

.title-heading.hero-head {
  font-size: clamp(24px, 4vw, 2.441rem);
  @apply font-bold;
}

.btn-green {
  background-color: var(--primary-accent-green-003);
  @apply p-2 rounded-md text-xl font-bold absolute right-10;
}

.btn-green:hover {
  background-color: var(--primary-accent-green-001);
  color: var(--primary-accent-green-003);
}

/* Specialties */
.special-skills {
  background-color: var(--primary-accent-green-003);
  @apply text-center rounded-xl;
}

.special-img {
  margin-top: -30px;
  margin-bottom: 30px;
}

.special-heading {
  margin-bottom: 30px;
}

/* Contact */
.contact-card {
  background: var(--bg-opacity);
  /* border-color: var(--primary-accent-green-001); */
  border-top: var(--primary-accent-green-003) 1px solid;
  border-bottom: var(--primary-accent-green-003) 10px solid;
  border-left: var(--primary-accent-green-003) 1px solid;
  border-right: var(--primary-accent-green-003) 1px solid;
  @apply pt-24 pb-24 rounded-2xl;
}

/* .contact-card::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contact-card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
} */

/* .container {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  perspective: 3px;
} */

.contact-card img {
  display: inline;
  @apply pb-5;
}
